@font-face {
    font-family: GOT;
    src: url(/public/media/fonts/game-of-thrones/Game-of-Thrones.ttf);
}

@font-face {
    font-family: Handwritten;
    src: url(/public/media/fonts/aquiline_two/AquilineTwo.ttf);
}

@font-face {
    font-family: IM Fell English;
    src: url(/public/media/fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
}

h1 {
    letter-spacing: 20px;
    font-family: GOT;
    color: gray;
    text-shadow: 
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

h2 {
    font-family: Handwritten;
    font-size: 100px;
}

p {
    font-family: IM Fell English;
    font-size: 20px;
    font-weight: bolder;
}