@import '../styles/base/typography/fonts.scss';

h1 {
    letter-spacing: 20px;
    font-family: GOT;
    color: gray;
    text-shadow: 
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

h2 {
    font-family: Handwritten;
    font-size: 100px;
}

p {
    font-family: IM Fell English;
    font-size: 20px;
    font-weight: bolder;
}