@import '../styles/base/typography/fonts.scss';

h1 {
    letter-spacing: 20px;
    font-family: GOT, Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-shadow: 
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

h2 {
    font-family: Aquiline, 'Brush Script MT', 'Lucida Handwriting', cursive;
    font-size: 40px;
}

p {
    font-family: IM Fell English, Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}